@import url("card_recipe_template.css");

$font-family-title : 'Anton', sans-serif;
$font-family-text : 'manrope', sans-serif;
html {
  overflow-x: hidden;
  margin: 0 auto;
}
body {
  background : lightgrey;
  margin: 0 auto;
}
main {
  margin: 0 auto;
  width: 100vw;
}
header {
  h1 {
    font-family: $font-family-title;
    color: #ffd15b;
    text-align: center;
    margin: 0;
  }
  h3 {
    font-family: $font-family-title;
    color: white;
  }
}
.header-title {
  background-image: url("/assets/images/bg_lespetitplats.jpg");
  height: 500px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  .title {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 100px;
    padding: 0;
    position: relative;
    left: 40px;
}
    fa-bullseye {
      color: white;
    }
  }
  .header-searchbar {
    width: 100%;
    text-align: center;
    margin: 20px;
    input {
      width: 700px;
      height: 50px;
      border-radius: 11px;
      color: grey;
    }
  }
  .fa-magnifying-glass{
    position: relative;
    left: -45px;
    color: white;
    background: black;
    padding:12px;
    border-radius: 10px;
  }


.navbar-filter {
  display : flex;
}

.suggestions {
  .suggestions-li {
    color: white;
    background: grey;
    border: 1px solid black;

  }
}
