@import url("card_recipe_template.css");

$font-family-title : 'Anton', sans-serif;
$font-family-text : 'manrope', sans-serif;
html {
  overflow-x: hidden;
  margin: 0 auto;
}
body {
  background : lightgrey;
  margin: 0 auto;
}
main {
  margin: 0 auto;
  width: 100vw;
}
header {
  h1 {
    font-family: $font-family-title;
    color: #ffd15b;
    text-align: center;
    margin: 0;
  }
  h3 {
    font-family: $font-family-title;
    color: white;
  }
}
.header-title {
  background-image: url("/assets/images/bg_lespetitplats.jpg");
  height: 500px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  .title {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 100px;
    padding: 0;
    position: relative;
    left: 40px;
}
    fa-bullseye {
      color: white;
    }
  }
  .header-searchbar {
    width: 800px;
    text-align: center;
    margin: 20px auto;
    z-index: 0;
    display: flex;
    border:1px solid white;
    background: white;
    border-radius: 11px;
    align-items: center;
    input {
      width: 700px;
      height: 50px;
      border-radius: 11px;
      color: grey;
      border:none;
      outline: none;
    }
    #search-cancel {
      width:40px;
      left: -90px;
      color: grey;
      z-index: 5;
      .fa-xmark {
        display: none;
      }
    }
    #search-icon{
      width:20px;
      color: white;
      background: black;
      padding:12px;
      border-radius: 10px;
      z-index: 2;
      position: relative;
      top:0px;
      left: 6px;
    }

  }



.navbar-filter {
  display : flex;
  margin: 20px ;
  font-family: $font-family-text;
  font-size: 12px;
  p {
    font-family: $font-family-title;
    font-size: 18px;
  }
}
.filter-container {
  background: white;
  border-radius: 8px;
  // padding: 10px;
  margin: 0 50px;
  width: 150px;
  position:relative;
  z-index: 2;
}
.filter-wrapper {
  display : flex;
  justify-content: center;
  align-items: center;
}
.filter-search-icon {
  position:relative;
  left: -10px;
  color: lightgrey;
}
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.filter-input {
  margin: 5px 0;
  width: 110px;
  padding: 2px 10px;
  position: relative;
  left: 5px;
  outline-style: none;
}
.filter-list-ingredients, .filter-list-appliance, .filter-list-ustensils {
  display: flex;
  flex-direction: column;
  height: 140px;
  overflow-y:scroll;
  scrollbar-width:none;
  span {
    padding: 4px 10px;
  }
}
.filter-hidden-ingredients, .filter-hidden-ustensils, .filter-hidden-appliance {
  display : none;
}
.filter-visible {
  display : block;
}
.backgroundElement {
  transition: font-size 330ms ease-in-out;
  &:hover {
    background:#ffd15b;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
  }
}
.selectedTags-appliance, .selectedTags-ustensils, .selectedTags-ingredients {
  display : flex;
  flex-direction: column;
  background:#ffd15b;
  font-size: 12px;
  padding: 0px 5px;
  margin : 5px 0;
}

.suggestions {
  .suggestions-li {
    color: white;
    background: grey;
    border: 1px solid black;

  }
}
.listTags {
  display: flex;
  justify-content:center;
  align-items: center;
  .show-tag {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 8px;
  width: 130px;
  margin: 5px 10px;
  background:#ffd15b;
  font-size: 11px;
  font-family: $font-family-text;
  &:hover {
    font-weight: bolder;
    i {
        border: 1px solid black;
        border-radius: 50px;
        color:#ffd15b;
        background: black;
        padding: 1px 2px;
    }
  }
    .cancel {
      font-weight: bold;
      font-size: 14px;
    }
  }
}
